body, html {
	height:100%;
}

.no-js #whatDoFromExplore, .no-js #whatDoFromAction {
	display:none;
}

.noAnim {
	-webkit-transition: none !important;
	        transition: none !important;
}

noscript div {
	width:100%;
	height:auto;
	margin-top:-26px;
	background-color: rgb(189, 24, 56);
	padding:30px 0px;
	color:#fff;
}

noscript div h1 {
	text-align:center;
}

noscript div p {
	max-width:650px;
	min-width:200px;
	margin-left:auto;
	margin-right:auto;
	padding-left:30px;
	padding-right:30px;
	padding-top:20px;
	padding-bottom:20px;
	font-size:1.125rem;
	line-height:1.875rem;
}

noscript div a {
	font-size:1.125rem;
	line-height:1.875rem;
	color:#fff;
	text-decoration: underline;
}

.bgLight {
	background-color:#fff;
}

.bgDark {
	background-color:#2c2c2c;
}

.slide {
	height:98%;
	width:100%;
	position:relative;
	overflow:hidden;
}

.resetDiv {
	height: 0 !important;
	min-height: 0 !important ;
	overflow:hidden;
	padding:0 0 !important ;
	opacity:.5 !important ;
	-webkit-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	        transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.content {
}


#whyCare {
	/*overflow: hidden;
    height: auto;
	width:100%;
	position:relative;*/
	padding-top:60px;
}

.infoText {
	max-width:450px;
	min-width:200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:50px;
}

.reasons {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
	max-width:450px;
	min-width:200px;
}


#whatDo, #whatDoFromExplore, #whatDoFromAction {
	min-height:25%;
    height: auto;
	width:100%;
	position:relative;
	overflow:hidden;
	padding-top:60px;
	padding-bottom:60px;
	background-color:rgb(189, 24, 56);
}

#whatDo .flexContainer, #whatDoFromExplore .flexContainer, #whatDoFromAction .flexContainer {
	margin-top:15px;
}

.cta {
	width:300px;
	height:65px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
	background-color:rgb(151, 13, 36);
	display: table; 
	border-radius:3px;
	overflow:hidden;
	position: relative;
	border:1px solid rgba(134, 13, 33, 0.2);
}

@-webkit-keyframes ctaEnterAnimate {
	20% { -webkit-transform: rotate3d(0, 0, 1, 3deg); transform: rotate3d(0, 0, 1, 3deg); }
  	40%  { -webkit-transform: rotate3d(0, 0, 1, -3deg); transform: rotate3d(0, 0, 1, -3deg); }
  	60%  { -webkit-transform: rotate3d(0, 0, 1, 1deg); transform: rotate3d(0, 0, 1, 1deg); }
  	80%  { -webkit-transform: rotate3d(0, 0, 1, -1deg); transform: rotate3d(0, 0, 1, -1deg); }
  	100% { -webkit-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); }
}

@keyframes ctaEnterAnimate {
	20% { -webkit-transform: rotate3d(0, 0, 1, 3deg); transform: rotate3d(0, 0, 1, 3deg); }
  	40%  { -webkit-transform: rotate3d(0, 0, 1, -3deg); transform: rotate3d(0, 0, 1, -3deg); }
  	60%  { -webkit-transform: rotate3d(0, 0, 1, 1deg); transform: rotate3d(0, 0, 1, 1deg); }
  	80%  { -webkit-transform: rotate3d(0, 0, 1, -1deg); transform: rotate3d(0, 0, 1, -1deg); }
  	100% { -webkit-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); }
}

.ctaEnterAnimate {
	-webkit-animation: ctaEnterAnimate 850ms 1;
	        animation: ctaEnterAnimate 850ms 1;
}

.cta a::before {
	content: "";
	width: 0;
	height: 75px;
	margin-left:-50%;
	margin-top:-17px;
	position: absolute;
	background-color: rgb(134, 13, 33);
	border-radius:3px;
	z-index: -2;
	-webkit-transform: skew(20deg);
	    -ms-transform: skew(20deg);
	        transform: skew(20deg); 
    -webkit-transition: all 0.25s ease-in-out; 
            transition: all 0.25s ease-in-out; 
}

.cta a:hover::before {
	width:400px;
}

.cta a {
	height:48px;
	width:100%;
	display:block;
	position: relative;
	text-align: center;
	padding-top:17px;
	color:#fff;
	z-index:200;
}

#explore, #action {
	opacity:1;
	-webkit-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	        transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#exoExplore, #takeAction {
	min-height:200px;
	height:auto;
	background-color: #2c2c2c;
	color:#fff;
	width:100%;
	position:relative;
	overflow:hidden;
	padding-top:30px;
	padding-bottom:30px;
}

.flexContainer {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
}

#whatDo .flexContainer, #whyCare .flexContainer, #explore .flexContainer, #action .flexContainer {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

/* Temperature Bar */
	.hot {
		font-family: "futura-pt",sans-serif;
		font-weight:600;
		font-size: 1rem;
		line-height: 1.125rem;
		width:20px;
		height:80px;
		position:absolute;
		top:52px;
		left:44px;
		color:rgb(170, 170, 170);
	}

	.tempSmall:after {
		content:"C";
		font-family: "futura-pt",sans-serif;
		font-weight:600;
		font-size: 1rem;
		line-height: 1.125rem;
		position:absolute;
		bottom:-22px;
		left:2px;
		color:rgb(170, 170, 170);
	}

	.tempSmall {
		width:20px;
		height:80px;
		position:absolute;
		top:71px;
		left:40px;
		border-radius:3px;
		border:2px solid #fff;
		box-shadow:0px 1px 2px rgba(170, 170, 170, 0.3);
		background: -webkit-linear-gradient(top, #c84430 0%, #fcf5a2 51%, #7db9e8 100.01%);
		background: linear-gradient(to bottom, #c84430 0%,#fcf5a2 51%,#7db9e8 100.01%); /* W3C */
		-webkit-transition: height 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
		        transition: height 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	.tempSmall:before {
		content:"";
		width: 0;
		height: 0;
		top:-8px;
		left:4px;
		border-style: solid;
		border-width: 10px;
		border-color: transparent rgb(170, 170, 170) transparent transparent;
		position: absolute;
	}

	.temp1.tempSmall:before {
		top:85%;
	}

	.temp2.tempSmall:before {
		top:70%;
	}

	.temp3.tempSmall:before {
		top:60%;
	}

	.temp4.tempSmall:before {
		top:40%;
	}

	.temp5.tempSmall:before {
		top:25%;
	}

	.temp6.tempSmall:before {
		top:10%;
	}

	.temp7.tempSmall:before {
		top:-10%;
	}
/* End Temperature Bar */

.planetsContainer {
	background-color:rgb(213, 213, 213);
	padding-top:10px;
	padding-bottom:20px;
	overflow:hidden;
	height:99vh;
}

#overlayGrid {
	background-color: rgb(213, 213, 213);
	width:100%;
	height:100%;
	z-index:999;
	position:absolute;
	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
	        transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#filterBar {
	color:#fff;
	position:absolute;
	background-color:rgb(120,120,120);
	height:8vh;
	width:100%;
	top:0;
}

#filterBar p {
	position:absolute;
}

#gridIcon {
	height:50px;
	margin-top:10px;
	width:50px;
	background-color:#222;
	position:absolute;
	right:10px;
	top:0px;
}

#gridIcon:before {
	content:"";
	background-color:rgb(120,120,120);
	width:50px;
	height:4px;
	position:absolute;
	top:23px;
}

#gridIcon:after {
	content:"";
	background-color:rgb(120,120,120);
	width:4px;
	height:50px;
	position:absolute;
	left:23px;
}

#planetsLeftColumn {
	width:20%;
	position:absolute;
	left:0px;
	top:8vh;
	overflow-y:scroll;
	overflow-x:hidden;
	height:91vh;
	padding-right:20px;
	padding-left:10px;
}

#planetsRightColumn {
	width:80%;
	position:absolute;
	right:0px;
	top:8vh;
	background-color:grey;
	height:91vh;
}

#planetsLeftColumn .planetsCard {
	width:100%;
	height:25vh;
}

#planetsLeftColumn .cardLeft {
	padding:0 0 0 0;
	margin: 0 0 0 0 ;
}

#planetsLeftColumn .tempSmall, #planetsLeftColumn .hot, #planetsLeftColumn .planetsInfo {
	display:none;
}

#planetsLeftColumn .earth13 {

}

.planetsCard {
	background-color:rgb(245, 245, 245);
	box-shadow:0px 1px 2px rgb(170, 170, 170);
	-webkit-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	        transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	border-radius:3px;
	width:400px;
  height: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
}

.cardLeft {
	background-color:#FFF;
	padding-top:20px;
	margin-top:-20px;
	padding-left:20px;
	margin-left:-20px;
	margin-right:-20px;
	padding-right:20px;
	padding-bottom:1px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px; 
}

.planetsCard h3 {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	width:90%;
}

.planetsCard h3::after {
	content:"";
	position: absolute;
	bottom:-40%;
	left:50%;
	-webkit-transform:translate(-50%);
	    -ms-transform:translate(-50%);
	        transform:translate(-50%);
	width:50%;
	border-bottom:1px solid rgb(213, 213, 213);
}

.planetsInfo {
	margin-left:-20px;
	margin-right:-20px;
	padding-top:15px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:15px;
}

.earth13 {
	height:150px;
	width:150px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(160,160,160);
	border-radius: 50%;
	position:relative;
	margin-bottom:30px;
	margin-top:30px;
}

.content {
	position:relative;
}

.loadingIconReset {
	opacity:0 !important;
	height:0 !important;
	overflow: hidden !important;
	padding:0 0 !important ;
	-webkit-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	        transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#loadingIconContainer {
	-webkit-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	        transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	position: relative;
}

#loadingIcon {
	height:200px;
	width:100%;
}

#loading1 {
	width:20px;
	height:20px;
	background-color:rgb(189,24,56);
	border-radius:50%;
	top:105px;
	left:50%;
	-webkit-transform:translate(-50%,0%);
	    -ms-transform:translate(-50%,0%);
	        transform:translate(-50%,0%);
	position:absolute;
}

#loading2 {
	width:40px;
	height:40px;
	background-color: rgb(248,192,91);
	border-radius:50%;
	top:100px;
	left:50%;
	-webkit-transform:translate(-50%,0%);
	    -ms-transform:translate(-50%,0%);
	        transform:translate(-50%,0%);
	position:absolute;
}

#loading3 {
	width:10px;
	height:10px;
	background-color: rgb(160,160,160);
	border-radius:50%;
	top:105px;
	left:50%;
	-webkit-transform:translate(-50%,0%);
	    -ms-transform:translate(-50%,0%);
	        transform:translate(-50%,0%);
	position: absolute;
}

#loadMore {
	background-color:rgb(245, 245, 245);
	box-shadow:0px 1px 2px rgb(170, 170, 170);
	border-radius:3px;
	width:200px;
    height: 50px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	-webkit-transition: all 0.25s ease-in-out;
	        transition: all 0.25s ease-in-out; 
}

#loadMore:hover {
	width:206px;
	height:56px;
	margin-top:17px;
	margin-bottom:-3px;
	-webkit-transition: all 0.25s ease-in-out;
	        transition: all 0.25s ease-in-out; 
}

#loadMore:active {
	width:200px;
    height: 50px;
	margin-top:20px;
	margin-bottom:0px;
	-webkit-transition: all 0.08s ease-out;
	        transition: all 0.08s ease-out;
}

#loadMore a {
	display:block;
	text-align:center;
	font-size:1rem;
	font-weight:600;
	width:200px;
	padding-top:12px;
	height:38px;
	-webkit-transition: all 0.25s ease-in-out;
	        transition: all 0.25s ease-in-out; 
}

#loadMore a:hover {
	font-size:19px;
	padding-top:15px;
	height:41px;
	width:206px;
	-webkit-transition: all 0.25s ease-in-out;
	        transition: all 0.25s ease-in-out; 
}

#loadMore a:active {
	font-size:1rem;
	padding-top:12px;
	height:38px;
	-webkit-transition: all 0.08s ease-out;
	        transition: all 0.08s ease-out;
	margin-left:-4px;
}

#actionsGrid {
	overflow: hidden;
    height: auto;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-top:30px;
	padding-bottom:20px;
	background-color: rgb(213, 213, 213);
}

.actionsCard {
	background-color:#fff;
	box-shadow:0px 1px 2px rgb(170, 170, 170);
	border-radius:3px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    max-width:600px;
    height: auto;
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	position: relative;
}

.actionsCardHero {
	background-color: #fff;
	height:0px;
	margin-left:-20px;
	margin-right:-20px;
	margin-top:-20px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.actionsCardInfo {
	padding-top:20px;
}

.actionsCardInfo p {
	margin-top:5px;
}

.actionsCardInfo .detailText {
	margin-top:5px;
	margin-bottom:-5px;
}

.detailText a {
	font-size:1rem;
}



/* Earths */

	#visitedOne .earth.earthOpacity {
		opacity:0;
	}

	#visitedOne h1.earthOpacity {
		opacity:0;
	}

	#discoveredMany h1.earthOpacity {
		opacity:0;
	}

	#discoveredMany h1 {
		-webkit-transition: opacity 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
		        transition: opacity 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
		opacity:1;
	}

	#visitedOne h1 {
		-webkit-transition: opacity 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
		        transition: opacity 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
		opacity:1;
	}

	.visitedOneH1Animate {
	  -webkit-animation-name: visitedOneH1Animate;
	  -webkit-animation: visitedOneH1Animate 1300ms cubic-bezier(0.645, 0.045, 0.355, 1) 1;
	          animation: visitedOneH1Animate 1300ms cubic-bezier(0.645, 0.045, 0.355, 1) 1;
	}

	@-webkit-keyframes visitedOneH1Animate {
		0%, 20% { font-size:0; }
  		40%  { font-size:2.875rem; }
  		60%  { font-size:2rem; }
  		80%  { font-size:2.5rem; }
  		100% { font-size:2.25rem; }
	}

	@keyframes visitedOneH1Animate {
		0%, 20% { font-size:0; }
  		40%  { font-size:2.875rem; }
  		60%  { font-size:2rem; }
  		80%  { font-size:2.5rem; }
  		100% { font-size:2.25rem; }
	}

	#earth1 {
		height:300px;
		width:300px;
		background-color: rgb(42,130,189);
		border-radius: 50%;
		position:relative;
		text-align:center;
		top:50%;
		left:50%;
		-webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%); 
		opacity:1;
		-webkit-transition: opacity 850ms cubic-bezier(0.645, 0.045, 0.355, 1);
		        transition: opacity 850ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	@-webkit-keyframes earthOneAnimate {
		0%, 20% { height:0px; width:0px; }
  		40%  { height:350px; width:350px; }
  		60%  { height:280px; width:280px; }
  		80%  { height:320px; width:320px; }
  		100% { height:300px; width:300px; }
	}

	@keyframes earthOneAnimate {
		0%, 20% { height:0px; width:0px; }
  		40%  { height:350px; width:350px; }
  		60%  { height:280px; width:280px; }
  		80%  { height:320px; width:320px; }
  		100% { height:300px; width:300px; }
	}

	.earthOneAnimate {
	  -webkit-animation-name: earthOneAnimate;
	  -webkit-animation: earthOneAnimate 1300ms cubic-bezier(0.645, 0.045, 0.355, 1) 1;
	          animation: earthOneAnimate 1300ms cubic-bezier(0.645, 0.045, 0.355, 1) 1;
	}

	.earthContainer {
		left:50%;
		top:50%;
		height:auto;
		position:absolute;
		-webkit-transform:translate(-50%,-50%);
		    -ms-transform:translate(-50%,-50%);
		        transform:translate(-50%,-50%);
	}

	/*#earthContainer14, #earthContainer15, #earthContainer16 {
		opacity:0;
	}*/

	#discoveredMany div.earthsPop {
		-webkit-transform:translateX(50%);
		    -ms-transform:translateX(50%);
		        transform:translateX(50%);
		height:auto;
		width:0px;
	}

	#discoveredMany .earth.earthOpacity {
		opacity:0;
	}

	.earthOutContainer {
		width:100%;
		height:100%;
		position:absolute;
	}

	.earthInner {
		width:100%;
		background-color: rgb(160,160,160);
		border-radius: 50%;
		padding-bottom: 100%;
		opacity:1;
	}
/* Earths end */


h1 {
	font-family:'futura-pt', sans-serif;
	font-style:normal;
	font-weight: 300;
	font-size:2.25rem;
	line-height:2.5rem;
}

.introSlide h1 {
	position:absolute;
	text-align:center;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

#spanLeft {
	margin-right:-1px;
}

#spanRight {
	margin-left:-1px;
}

#howManyDiscovered h1 {
	max-width:550px;
}

.downArrow {
	font-family:'futura-pt', sans-serif;
	font-style:normal;
	font-weight: 300;
	font-size:2.25rem;
	line-height:2.5rem;
	text-align:center;
	position:absolute;
	width:100%;
	bottom:0%;
	left:50%;
	-webkit-transform: translate(-50%,0%);
	    -ms-transform: translate(-50%,0%);
	        transform: translate(-50%,0%);
	padding-bottom:20px;
	padding-top:20px;
}

h2 {
	position:relative;
	font-family:'futura-pt', sans-serif;
	font-weight:600;
	font-size:1.625rem;
	line-height:1.875rem;
	text-align:center;
}

.miniCTA {
	width:auto;
	background-color: rgb(189,24,56);
	display:table;
	margin-left:auto;
	margin-bottom:-20px;
	margin-right:-20px;
	margin-top:15px;
	border:1px solid rgba(134, 13, 33, 0.2);
	overflow:hidden;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.miniCTA .visit::before {
	content: "";
	width: 0;
	height: 75px;
	margin-left:-50%;
	margin-top:-17px;
	position: absolute;
	background-color: rgb(151, 13, 36);
	border-radius:3px;
	z-index:-2;
	-webkit-transform: skew(20deg);
	    -ms-transform: skew(20deg);
	        transform: skew(20deg); 
    -webkit-transition: all 0.4s ease-in-out; 
            transition: all 0.4s ease-in-out; 
}

.miniCTA .visit:hover::before {
	-webkit-transition: all 0.7s ease-in-out;
	        transition: all 0.7s ease-in-out; 
	width:800px;
}

.actionsCard .visit {
	text-align: right;
	position:relative;
	display:block;
	z-index:200;
	color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:15px;
	padding-left:15px;
}

h3 {
	position:relative;
	font-family:'futura-pt', sans-serif;
	font-size:1.25rem;
}

h4 {
	position:relative;
	font-weight:600;
	font-family:'futura-pt', sans-serif;
	font-size:1rem;
	line-height:1.125rem;
	margin-top:10px;
}

h5 {
	min-width:200px;
	font-family:'futura-pt', sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:1rem;
	line-height:1.25rem;
	margin-bottom:20px;
}

p {
	font-family:'futura-pt', sans-serif;
	font-size:1.25rem;
	line-height:1.625rem;
	position:relative;
}

.cta p {
	text-align:center;
	display: table-cell; 
	vertical-align: middle; 
	color:#fff;
}

#exoExplore .infoText, #takeAction .infoText {
	margin-top:20px;
	margin-bottom:0px;
}

p.detailText {
	font-weight:400;
	font-size:1rem;
	margin-top:0px;
}

#whyCare .infoText div {
	margin-top:50px;
}

.reasons h1 {
	text-align:center;
	color: #333;
  color: transparent;
  text-shadow: 0px 0px rgb(51, 51, 51), 0.08em 0px 0px rgb(255, 255, 255), 0px 0px, -0.08em 0px 0px rgb(255, 255, 255);
  background: -webkit-linear-gradient(rgb(213, 213, 213) 0%, rgb(213, 213, 213) 25%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 75%, rgb(213, 213, 213) 75%) no-repeat scroll center 2.25rem / 50% 3px transparent;
  background: linear-gradient(rgb(213, 213, 213) 0%, rgb(213, 213, 213) 25%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 75%, rgb(213, 213, 213) 75%) no-repeat scroll center 2.25rem / 50% 3px transparent;
  margin-bottom:16px;
}

hr {
	border:0;
	height:1px;
	width:50%;
	background-color: rgb(213,213,213);
	margin:0 auto 15px auto;
}

#visitedOne h1, #discoveredMany h1, #whatDo h2, #whatDoFromAction h2, #whatDoFromExplore h2 {
	color:#fff;
}

a {
	font-family:'futura-pt', sans-serif;
	font-size:1.25rem;
	line-height:1.625rem;
	text-decoration: none;
	color:rgb(189, 24, 56);
}

.hoverInfoMass, .hoverInfoDiscovery, .hoverInfoTemp {
	cursor:help;
}

.hoverInfoMass::after, .hoverInfoTemp::after, .hoverInfoDiscovery::after {
	background-color:rgb(100,100,100);
	height:auto;
	width:90%;
	position:absolute;
	top:0%;
	-webkit-transform:translate(-6px,-95%);
	    -ms-transform:translate(-6px,-95%);
	        transform:translate(-6px,-95%);
	padding:10px 10px;
	opacity:0;
	color:#fff;
	border-radius:3px;
	font-size:1rem;
	line-height:1.25rem;
	font-weight:300;
	pointer-events:none;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	        transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	z-index:200;
	white-space: pre-wrap; /* or pre-wrap */
}

.hoverInfoDiscovery::after {
	content:"Transit: When a planet passes between its star and us, it blocks the star's light for a period of time. Scientists can determine a planet's characteristics by analyzing the amount of light blocked and the length of the eclipse. \A \A RV (Radial Velocity): As objects move farther or closer to a viewer, the observed frequency of their light changes — this is known as a Doppler Shift. Scientists can use a star's Doppler Shift to determine characteristics of planets around it.  \A \A Gravitational Microlensing: Light coming from stars can be bent by gravity as it passes near planets. Scientists can use this bending to determine characteristics of the planet that is exerting force on the light. ";
}

.hoverInfoMass::after {
	content:"The mass of the planet, using Jupiter as its scale (e.g. a planet that has the exact same mass as Jupiter will therefore be 1mJUP).";
}

.hoverInfoTemp::after {
	content:"K stands for Kelvin, which is a temperature scale developed in the 1800s. 0K — equal to -273.15 Celsius — is the lowest possible temperature, known as absolute zero, at which an object's molecules have no kinetic energy (i.e. are not moving). \A \A The circles representing each planet are colored according to their temperature.";
}

.hoverInfoMass:hover::after, .hoverInfoTemp:hover::after, .hoverInfoDiscovery:hover::after {
	opacity:1;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	        transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -.45rem;
}

sub {
	top:.45rem;
}

sup {
	opacity:.4;
	top:-.7rem;
}

footer {
	width:100%;
	background-color:rgb(34, 34, 34);
}

footer p {
	color:#fff;
	padding:15px 0px;
	margin:0 auto;
	width:40%;
	font-size:1rem;
	line-height:1.25rem;
}

footer p:nth-child(1) {
		padding-bottom:8px;
}

footer p:nth-child(2) {
		padding-top:0px;
}

footer a {
	font-size:1rem;
	line-height:1.25rem;
}

@media handheld, only screen and (max-width: 777px) { /* mobile landscape */

	.reasons {
		width:60%;
	}

	h2 {
		margin-left:10%;
		margin-right:10%;
	}

	.introSlide h1 {
		font-size:1.875rem;
		line-height:2.125rem;
		width:90%;
	}

	noscript div p, noscript div a {
		font-size:1rem;
		line-height:1.5rem;
	}

	.visitedOneH1Animate {
	  -webkit-animation-name: visitedOneH1Animate;
	  -webkit-animation: visitedOneH1Animate 1300ms cubic-bezier(0.645, 0.045, 0.355, 1) 1;
	          animation: visitedOneH1Animate 1300ms cubic-bezier(0.645, 0.045, 0.355, 1) 1;
	}

	@-webkit-keyframes visitedOneH1Animate {
		0%, 20% { font-size:0; }
  		40%  { font-size:2.25rem; }
  		60%  { font-size:1.5rem; }
  		80%  { font-size:2rem; }
  		100% { font-size:1.875rem; }
	}

	@keyframes visitedOneH1Animate {
		0%, 20% { font-size:0; }
  		40%  { font-size:2.25rem; }
  		60%  { font-size:1.5rem; }
  		80%  { font-size:2rem; }
  		100% { font-size:1.875rem; }
	}

	.earthOneAnimate {
	  -webkit-animation-name: earthOneAnimate;
	  -webkit-animation: earthOneAnimate 1300ms cubic-bezier(0.645, 0.045, 0.355, 1) 1;
	          animation: earthOneAnimate 1300ms cubic-bezier(0.645, 0.045, 0.355, 1) 1;
	}

	@-webkit-keyframes earthOneAnimate {
		0%, 20% { height:0px; width:0px; }
  		40%  { height:280px; width:280px; }
  		60%  { height:230px; width:230px; }
  		80%  { height:260px; width:260px; }
  		100% { height:250px; width:250px; }
	}

	@keyframes earthOneAnimate {
		0%, 20% { height:0px; width:0px; }
  		40%  { height:280px; width:280px; }
  		60%  { height:230px; width:230px; }
  		80%  { height:260px; width:260px; }
  		100% { height:250px; width:250px; }
	}

}


@media handheld, only screen and (max-width: 854px) { /*tablet portrait */

	.hot {
		bottom:-40px;
		top:auto;
		left:24px;
	}

	.tempSmall {
		top:auto;
		bottom:-60px;
		left:20px;
	}

	.infoText:nth-child(1) {
		margin-bottom:0px;
	}

	.infoText:nth-child(2) {
		margin-top:0px;
	}

	.planetsCard {
		max-width:90%;
		min-width:90%;
		padding-left:0px;
		padding-right:0px;
		padding-top:0px;
		position:relative;
		background-color:#fff;
	}

	.planetsCard h3 {
	}

	div.earth13 {
		width:200px;
		height:200px;
		margin:0px;
		margin-top:30px;
		margin-left:auto;
		margin-right:auto;
	}

	.cardLeft {
		width:50%;
		top:50%;
		-webkit-transform:translate(0%,-50%);
		    -ms-transform:translate(0%,-50%);
		        transform:translate(0%,-50%);
		position:absolute;
		padding-top:0px;
		margin-top:0px;
		padding-left:0px;
		margin-left:0px;
		margin-right:0px;
		padding-right:0px;
		padding-bottom:0px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0px;
	}

	.cardRight {
		float:right;
		width:50%;
		background-color:rgb(245, 245, 245);
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-left-radius:3px;
	}

	.planetsInfo {
		margin-right:0px;
	}

	.planetsInfo h5 {
		text-align: left;
	}

	.hoverInfoMass::after, .hoverInfoTemp::after, .hoverInfoDiscovery::after {
		top:20px;
		left:0%;
		-webkit-transform:translate(0%,0%);
		    -ms-transform:translate(0%,0%);
		        transform:translate(0%,0%);
		font-weight:400;
	}

	.actionsCard {
		max-width:90%;
		min-width:90%;
		position:relative;
	}

	footer p {
		width:60%;
	}

}

@media handheld, only screen and (max-width: 540px) { /* mobile portrait */

	.hot {
		bottom:auto;
		top:52px;
		left:24px;
	}

	.tempSmall {
		top:71px;
		bottom:auto;
		left:20px;
	}

	.reasons {
		width:80%;
	}

	hr {
		width:70%;
	}

	#earth1 {
		height:250px;
		width:250px;
	}

	#firstReason, #secondReason, #thirdReason, #fourthReason, #fifthReason, #sixthReason {
	
	}

	#exoExplore p, #takeAction p {
		margin-left:10%;
		margin-right:10%;
	}

	#whatDo h2, #whatDoFromAction h2, #whatDoFromExplore h2 {
		line-height:1.625rem;
		font-size:1.375rem;
	}

	.cta {
		margin-left:10%;
		margin-right:10%;
		width:80%;
	}

	.planetsCard {
		width:90%;
		background-color:rgb(245, 245, 245);
	}

	div.earth13 {
		width:100px;
		height:100px;
	}

	.cardLeft {
		width:100%;
		top:0;
		-webkit-transform:translate(0%,0%);
		    -ms-transform:translate(0%,0%);
		        transform:translate(0%,0%);
		left:0;
		background-color:#FFF;
		padding-top:20px;
		margin-top:0px;
		padding-left:20px;
		margin-left:auto;
		margin-right:auto;
		padding-right:20px;
		padding-bottom:20px;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px; 
		position:relative;
	}

	.planetsCard h3 {
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		width:90%;
	}

	.planetsCard h3::after {
		content:"";
		width:50%;
		position: absolute;
		bottom:-40%;
		left:50%;
		-webkit-transform:translate(-50%);
		    -ms-transform:translate(-50%);
		        transform:translate(-50%);
		border-bottom:1px solid rgb(213, 213, 213);
	}

	h5 {
		min-width:100px;
		text-align:center;
	}

	.planetsInfo {
		margin-left:auto;
		margin-right:auto;
		padding-left:20px;
		padding-right:20px;
		bottom:0;
		width:100%;
	}

	footer p {
		width:80%;
	}

}